body {
  font-family: sans-serif;
  font-size: 1em;
  text-align: left;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #555;
}
a:active {
  color: #555;
}
nav {
  font-size: larger;
}
nav ul {
  font-family: Verdana;
  width: 97%;
  background-image: linear-gradient(#f2f2f2,#d9d9d9);
  list-style-type: none;
  overflow: hidden;
  padding: 0.5em;
  display: inline-block;
  border: 1px solid #d9d9d9;
}
nav li {
  float: left;
  color: #ccc;
}
nav li a {
  display: block;
  text-align: center;
  padding: 0.1em 0.5em;
  text-decoration: none;
}
nav li a:link {
  color: #000;
}
nav li a:visited {
  color:  #000;
}
nav li a:hover {
  color: #555;
}
nav li a:active {
  color: #555;
}
footer {
  font-family: Verdana;
  font-size: smaller;
  padding: 0.5px;
  border: 1px solid #d9d9d9;
  background-image: linear-gradient(#f2f2f2,#d9d9d9);
  color: black;
  text-align: center;
}

main {
max-width: 600px;
  margin: 0 auto;
}
ul {
  text-align: left;
  border: ;
}

#hemknapp {
 font-size: larger;
}

article {
 background: ;
}
