body {
  font-family: "sans-serif";
  font-size: 16px;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #555;
}
a:active {
  color: #555;
}
nav {
  font-size: 20px;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0.1em;
}
nav li {
  float: left;
  color: #ccc;
}
nav li a {
  display: block;
  text-align: center;
  padding: 0.1em 0.5em;
  text-decoration: none;
}
nav li a:link {
  color: #000;
}
nav li a:visited {
  color:  #000;
}
nav li a:hover {
  color: #555;
}
nav li a:active {
  color: #555;
}
footer {
  background: #707575;
  color: #fff;
}
img.profile {
  width: 256px;
  height: 256px;
}
